.tox
.ve
.pyc
.coverage
org.eclipse
.pytest
build
dist
openpyxl.egg-info
dot
svg
pf
.noseids
.*.swp
.*.DS_Store
.*.~.*
*~
*.orig
.idea
*.pstats
*.sh
!utils/*.sh
travis.yml
cover
Include/
Lib/
Scripts/
downloads/
Compliance
Spec
doc/api
openpyxl-env
*.c
bin/
Issues/
lib/
lib/
scratchpad/
pyvenv.cfg
*.patch
